.grid {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas:
    "header header"
    "sidenav content"
    "card_wrapper card_wrapper"
    "footer footer";
}

body {
  font-family: arial;
}

.header {
  background: #d8d8d8;
  padding: 20px;
  grid-area: header;
}


.sidenav {
  background: #ebebeb;
  padding: 20px;
  grid-area: sidenav;
}

ul {
  list-style-type: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}


.content {
  padding: 30px;
  line-height: 2;
  grid-area: content;
}

.card_wrapper {
  display: flex;
  grid-area: card_wrapper;
  background: linear-gradient(
      #d8d8d8 50%,
      #fff 50%
      );
}

.card {
  border: 2px solid #ccc;
  padding: 10px;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.card_image img {
    max-width: 100%;
}

.cat_3 {
    height: 175px;
    object-fit: cover;
}

.card:last-child {
  margin-right: 0;
}

.card_read-more {
  align-self: flex-end;
  margin-top: auto;
  width: 100%;
}

.card_read-more button {
  background: black;
  color: white;
  border: none;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
}

.footer {
  background: #000;
  color: #fff;
  padding: 20px;
  grid-area: footer;
}
